In [1]:
# 'generic import' of math module
import math
math.sqrt(25)

5.0

In [2]:
# import a function
from math import sqrt
sqrt(25)    # no longer have to reference the module

5.0

In [3]:
# import multiple functions at once
from math import cos, floor

In [4]:
# import all functions in a module (generally discouraged)
from csv import *

In [5]:
# define an alias
import datetime as dt

In [6]:
# show all functions in math module
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'trunc']

In [7]:
#Data Types

In [8]:
type(2)

int

In [9]:
type(2.0)

float

In [10]:
type('two')

str

In [11]:
type(True)

bool

In [12]:
type(None)

NoneType

In [13]:
isinstance(2.0, int)

False

In [14]:
isinstance(2.0, (int, float))

True

In [15]:
float(2)

2.0

In [16]:
int(2.9)

2

In [17]:
str(2.9)

'2.9'

In [18]:
bool(0)

False

In [19]:
bool(None)

False

In [20]:
bool('')# empty string

False

In [21]:
bool([])    # empty list

False

In [22]:
bool({})    # empty dictionary

False

In [24]:
bool(2)

True

In [25]:
bool('two')

True

In [26]:
bool([2])

True

In [27]:
#Math

In [28]:
10 + 4

14

In [30]:
10 + 4

14

In [31]:
10 * 4

40

In [32]:
10 ** 4    # exponent

10000

In [33]:
5 % 4      # modulo - computes the remainder

1

In [34]:
10 / 4
# Python 2: returns 2 (because both types are 'int')
# Python 3: returns 2.5

2.5

In [35]:
10 // 4 #like modulo behaviour

2

In [36]:
#Assignment
x = 5

In [37]:
#Comparisons
x > 3

True

In [38]:
x >= 3

True

In [39]:
x != 3

True

In [40]:
x == 5

True

In [41]:
#Boolean operations
5 > 3 and 6 > 3

True

In [43]:
(5 > 3) & (6 > 3)

True

In [44]:
5 > 3 or 5 < 3

True

In [45]:
(5 > 3) | (5 < 3)

True

In [46]:
not False

True

In [48]:
False or not False and True     # evaluation order: not, and, or

True

In [49]:
#conditional statements

In [50]:
# if statement
if x > 0:
    print('positive')

positive

In [51]:
# if/else statement
if x > 0:
    print('positive')
else:
    print('zero or negative')

positive

In [52]:
# if/elif/else statement
if x > 0:
    print('positive')
elif x == 0:
    print('zero')
else:
    print('negative')

positive

In [53]:
# single-line if statement (sometimes discouraged)
if x > 0: print('positive')

positive

In [54]:
# single-line if/else statement (sometimes discouraged), known as a 'ternary operator'
'positive' if x > 0 else 'zero or negative'

'positive'

In [55]:
#Lists

In [56]:
# create an empty list (two ways)
empty_list = []
empty_list = list()

In [57]:
# create a list
simpsons = ['homer', 'marge', 'bart']

In [58]:
# print element 0
simpsons[0]

'homer'

In [59]:
len(simpsons)

3

In [60]:
# append element to end
simpsons.append('lisa')
simpsons

['homer', 'marge', 'bart', 'lisa']

In [61]:
# append multiple elements to end
simpsons.extend(['itchy', 'scratchy'])
simpsons

['homer', 'marge', 'bart', 'lisa', 'itchy', 'scratchy']

In [62]:
# insert element at index 0 (shifts everything right)
simpsons.insert(0, 'maggie')
simpsons

['maggie', 'homer', 'marge', 'bart', 'lisa', 'itchy', 'scratchy']

In [63]:
# search for first instance and remove it
simpsons.remove('bart')
simpsons

['maggie', 'homer', 'marge', 'lisa', 'itchy', 'scratchy']

In [64]:
# remove element 0 and return it
simpsons.pop(0)

'maggie'

In [65]:
# remove element 0 (does not return it)
del simpsons[0]
simpsons

['marge', 'lisa', 'itchy', 'scratchy']

In [66]:
# replace element 0
simpsons[0] = 'krusty'
simpsons

['krusty', 'lisa', 'itchy', 'scratchy']

In [67]:
# concatenate lists (slower than 'extend' method)
neighbors = simpsons + ['ned', 'rod', 'todd']
neighbors

['krusty', 'lisa', 'itchy', 'scratchy', 'ned', 'rod', 'todd']

In [68]:
#Find elements in a list:
# counts the number of instances
simpsons.count('lisa')

1

In [69]:
# returns index of first instance
simpsons.index('itchy')

2

In [70]:
#List slicing:
weekdays = ['mon', 'tues', 'wed', 'thurs', 'fri']

In [71]:
# element 0
weekdays[0]

'mon'

In [72]:
# elements 0 (inclusive) to 3 (exclusive)
weekdays[0:3]

['mon', 'tues', 'wed']

In [73]:
# starting point is implied to be 0
weekdays[:3]

['mon', 'tues', 'wed']

In [74]:
# elements 3 (inclusive) through the end
weekdays[3:]

['thurs', 'fri']

In [75]:
# last element
weekdays[-1]

'fri'

In [76]:
# every 2nd element (step by 2)
weekdays[::2]

['mon', 'wed', 'fri']

In [77]:
# backwards (step by -1)
weekdays[::-1]

['fri', 'thurs', 'wed', 'tues', 'mon']

In [78]:
# alternative method for returning the list backwards
list(reversed(weekdays))

['fri', 'thurs', 'wed', 'tues', 'mon']

In [79]:
simpsons.sort()
simpsons

['itchy', 'krusty', 'lisa', 'scratchy']

In [80]:
# sort in reverse
simpsons.sort(reverse=True)
simpsons

['scratchy', 'lisa', 'krusty', 'itchy']

In [81]:
# sort by a key
simpsons.sort(key=len)
simpsons

['lisa', 'itchy', 'krusty', 'scratchy']

In [82]:
sorted(simpsons)

['itchy', 'krusty', 'lisa', 'scratchy']

In [83]:
sorted(simpsons, key=len)

['lisa', 'itchy', 'krusty', 'scratchy']

In [85]:
#Insert into an already sorted list, and keep it sorted
num = [10, 20, 40, 50]
from bisect import insort
insort(num, 30)
num

[10, 20, 30, 40, 50]

In [86]:
#Object references and copies

In [87]:
# create a second reference to the same list
same_num = num

In [88]:
# modifies both 'num' and 'same_num'
same_num[0] = 0
print(num)
print(same_num)

[0, 20, 30, 40, 50]
[0, 20, 30, 40, 50]

In [89]:
# copy a list (two ways)
new_num = num[:]
new_num = list(num)

In [90]:
num is same_num    # checks whether they are the same object

True

In [91]:
num is new_num

False

In [92]:
num == same_num    # checks whether they have the same contents

True

In [93]:
num == new_num

True

In [94]:
#Tuple properties: ordered, iterable, immutable, can contain multiple data types
#Like lists, but they don't change size
# create a tuple directly
digits = (0, 1, 'two')

In [95]:
# create a tuple from a list
digits = tuple([0, 1, 'two'])

In [97]:
# trailing comma is required to indicate it's a tuple
zero = (0,)
type(zero)

tuple

In [98]:
#Examine a tuple
digits[2]

'two'

In [99]:
len(digits)

3

In [100]:
# counts the number of instances of that value
digits.count(0)

1

In [101]:
# returns the index of the first instance of that value
digits.index(1)

1

In [103]:
#Modify a tuple
# elements of a tuple cannot be modified (this would throw an error)
digits[2] = 2

TypeError: 'tuple' object does not support item assignment

In [104]:
# concatenate tuples
digits = digits + (3, 4)
digits

(0, 1, 'two', 3, 4)

In [105]:
# create a single tuple with elements repeated (also works with lists)
(3, 4) * 2

(3, 4, 3, 4)

In [106]:
# sort a list of tuples
tens = [(20, 60), (10, 40), (20, 30)]
sorted(tens)    # sorts by first element in tuple, then second element

[(10, 40), (20, 30), (20, 60)]

In [107]:
# tuple unpacking
bart = ('male', 10, 'simpson')    # create a tuple
(sex, age, surname) = bart        # assign three values at once
print(sex)
print(age)
print(surname)

male
10
simpson

In [108]:
#Strings
#String properties: iterable, immutable
# convert another data type into a string
s = str(42)
s

'42'

In [110]:
# create a string directly
s = 'I like python'

In [111]:
s[0]

'I'

In [112]:
len(s)

13

In [113]:
#String slicing is like list slicing
s[:6]

'I like'

In [114]:
s[7:]

'python'

In [115]:
s[-1]

'n'

In [116]:
#Basic string methods (does not modify the original string)
s.lower()

'i like python'

In [117]:
s.upper()

'I LIKE PYTHON'

In [118]:
s.startswith('I')

True

In [119]:
s.endswith('you')

False

In [120]:
# checks whether every character in the string is a digit
s.isdigit()

False

In [121]:
# returns index of first occurrence, but doesn't support regex
s.find('like')

2

In [122]:
# returns -1 since not found
s.find('hate')

-1

In [123]:
# replaces all instances of 'like' with 'love'
s.replace('like', 'love')

'I love python'

In [124]:
#Split a string
# split a string into a list of substrings separated by a delimiter
s.split(' ')

['I', 'like', 'python']

In [125]:
# equivalent (since space is the default delimiter)
s.split()

['I', 'like', 'python']

In [126]:
s2 = 'a, an, the'
s2.split(',')

['a', ' an', ' the']

In [127]:
#Join or concatenate strings
# join a list of strings into one string using a delimiter
stooges = ['larry', 'curly', 'moe']
' '.join(stooges)

'larry curly moe'

In [128]:
# concatenate strings
s3 = 'The meaning of life is'
s4 = '42'
s3 + ' ' + s4

'The meaning of life is 42'

In [129]:
#Remove whitespace from the start and end of a string
s5 = '  ham and cheese  '
s5.strip()

'ham and cheese'

In [130]:
#String substitutions
# old way
'raining %s and %s' % ('cats', 'dogs')

'raining cats and dogs'

In [131]:
# new way
'raining {} and {}'.format('cats', 'dogs')

'raining cats and dogs'

In [132]:
# new way (using named arguments)
'raining {arg1} and {arg2}'.format(arg1='cats', arg2='dogs')

'raining cats and dogs'

In [133]:
#String formatting
# use 2 decimal places
'pi is {:.2f}'.format(3.14159)

'pi is 3.14'

In [134]:
#Normal strings versus raw strings
# normal strings allow for escaped characters
print('first line\nsecond line')

first line
second line

In [135]:
# raw strings treat backslashes as literal characters
print(r'first line\nfirst line')#r stands for raw

first line\nfirst line

In [136]:
#Dictionaries
#Dictionary properties: unordered, iterable, mutable, can contain multiple data types
#Made of key-value pairs
#Keys must be unique, and can be strings, numbers, or tuples
#Values can be any type

# create an empty dictionary (two ways)
empty_dict = {}
empty_dict = dict()

In [138]:
# create a dictionary (two ways)
family = {'dad':'homer', 'mom':'marge', 'size':6}
family

{'dad': 'homer', 'mom': 'marge', 'size': 6}

In [140]:
family = dict(dad='homer', mom='marge', size=6)
family

{'dad': 'homer', 'mom': 'marge', 'size': 6}

In [141]:
# convert a list of tuples into a dictionary
list_of_tuples = [('dad', 'homer'), ('mom', 'marge'), ('size', 6)]
family = dict(list_of_tuples)
family

{'dad': 'homer', 'mom': 'marge', 'size': 6}

In [142]:
#examine a dictionary
# pass a key to return its value
family['dad']

'homer'

In [143]:
# return the number of key-value pairs
len(family)

3

In [144]:
# check if key exists in dictionary
'mom' in family

True

In [145]:
# dictionary values are not checked
'marge' in family

False

In [146]:
# returns a list of keys (Python 2) or an iterable view (Python 3)
family.keys()

dict_keys(['mom', 'dad', 'size'])

In [147]:
# returns a list of values (Python 2) or an iterable view (Python 3)
family.values()

dict_values(['marge', 'homer', 6])

In [148]:
# returns a list of key-value pairs (Python 2) or an iterable view (Python 3)
family.items()

dict_items([('mom', 'marge'), ('dad', 'homer'), ('size', 6)])

In [149]:
#Modify a dictionary (does not return the dictionary)
# add a new entry
family['cat'] = 'snowball'
family

{'cat': 'snowball', 'dad': 'homer', 'mom': 'marge', 'size': 6}

In [150]:
# edit an existing entry
family['cat'] = 'snowball ii'
family

{'cat': 'snowball ii', 'dad': 'homer', 'mom': 'marge', 'size': 6}

In [151]:
# delete an entry
del family['cat']
family

{'dad': 'homer', 'mom': 'marge', 'size': 6}

In [152]:
# dictionary value can be a list
family['kids'] = ['bart', 'lisa']
family

{'dad': 'homer', 'kids': ['bart', 'lisa'], 'mom': 'marge', 'size': 6}

In [153]:
# remove an entry and return the value
family.pop('dad')

'homer'

In [154]:
# add multiple entries
family.update({'baby':'maggie', 'grandpa':'abe'})
family

{'baby': 'maggie',
 'grandpa': 'abe',
 'kids': ['bart', 'lisa'],
 'mom': 'marge',
 'size': 6}

In [155]:
#Access values more safely with get
family['mom']

'marge'

In [156]:
# equivalent to a dictionary lookup
family.get('mom')

'marge'

In [157]:
# this would throw an error since the key does not exist
family['grandma']

KeyError: 'grandma'

In [158]:
# return Nothing if not found
family.get('grandma')

In [159]:
# provide a default return value if not found
family.get('grandma', 'not found')

'not found'

In [160]:
#Access a list element within a dictionary
family['kids'][0]

'bart'

In [161]:
family['kids'].remove('lisa')
family

{'baby': 'maggie',
 'grandpa': 'abe',
 'kids': ['bart'],
 'mom': 'marge',
 'size': 6}

In [162]:
#String substitution using a dictionary
'youngest child is %(baby)s' % family

'youngest child is maggie'

In [163]:
#Sets
#Set properties: unordered, iterable, mutable, can contain multiple data types
#Made of unique elements (strings, numbers, or tuples)
#Like dictionaries, but with keys only (no values)

# create an empty set
empty_set = set()

In [164]:
# create a set directly
languages = {'python', 'r', 'java'}

In [165]:
# create a set from a list
snakes = set(['cobra', 'viper', 'python'])

In [166]:
#Examine a set
len(languages)

3

In [167]:
'python' in languages

True

In [168]:
#Set operations
# intersection
languages & snakes

{'python'}

In [169]:
# union
languages | snakes

{'cobra', 'java', 'python', 'r', 'viper'}

In [170]:
# set difference
languages - snakes

{'java', 'r'}

In [171]:
# set difference
snakes - languages

{'cobra', 'viper'}

In [172]:
#Modify a set (does not return the set)
# add a new element
languages.add('sql')
languages

{'java', 'python', 'r', 'sql'}

In [173]:
# try to add an existing element (ignored, no error)
languages.add('r')
languages

{'java', 'python', 'r', 'sql'}

In [174]:
# remove an element
languages.remove('java')
languages

{'python', 'r', 'sql'}

In [175]:
# try to remove a non-existing element (this would throw an error)
languages.remove('c')

KeyError: 'c'

In [176]:
# remove an element if present, but ignored otherwise
languages.discard('c')
languages

{'python', 'r', 'sql'}

In [177]:
# remove and return an arbitrary element
languages.pop()

'r'

In [178]:
# remove all elements
languages.clear()
languages

set()

In [179]:
# add multiple elements (can also pass a set)
languages.update(['go', 'spark'])
languages

{'go', 'spark'}

In [180]:
#Get a sorted list of unique elements from a list
sorted(set([9, 0, 2, 1, 0]))

[0, 1, 2, 9]

In [181]:
#Defining Functions
#Define a function with no arguments and no return values
def print_text():
    print('this is text')

In [182]:
# call the function
print_text()

this is text

In [183]:
#Define a function with one argument and no return values
def print_this(x):
    print(x)

In [184]:
# call the function
print_this(3)

3

In [185]:
# prints 3, but doesn't assign 3 to n because the function has no return statement
n = print_this(3)

3

In [190]:
#Define a function with one argument and one return value
def square_this(x):
    return x**2

In [191]:
square_this(3)

9

In [192]:
# include an optional docstring to describe the effect of a function
def square_this(x):
    """Return the square of a number."""
    return x**2

In [193]:
square_this(3)

9

In [194]:
# assigns 9 to var, but does not print 9
var = square_this(3)

In [195]:
#Define a function with two 'positional arguments' (no default values) and one 'keyword argument' (has a default value)
def calc(a, b, op='add'):
    if op == 'add':
        return a + b
    elif op == 'sub':
        return a - b
    else:
        print('valid operations are add and sub')

In [196]:
# call the function
calc(10, 4, op='add')

14

In [197]:
# unnamed arguments are inferred by position
calc(10, 4, 'add')

14

In [198]:
# default for 'op' is 'add'
calc(10, 4)

14

In [199]:
calc(10, 4, 'sub')

6

In [200]:
calc(10, 4, 'div')

valid operations are add and sub

In [201]:
#Use pass as a placeholder if you haven't written the function body
def stub():
    pass

In [202]:
#Return two values from a single function
def min_max(nums):
    return min(nums), max(nums)

In [203]:
# return values can be assigned to a single variable as a tuple
nums = [1, 2, 3]
min_max_num = min_max(nums)
min_max_num

(1, 3)

In [204]:
# return values can be assigned into multiple variables using tuple unpacking
min_num, max_num = min_max(nums)
print(min_num)
print(max_num)

1
3

In [205]:
#Anonymous (Lambda) Functions
#Primarily used to temporarily define a function for use by another function

# define a function the "usual" way
def squared(x):
    return x**2

In [206]:
squared(2)

4

In [207]:
# define an identical function using lambda
squared = lambda x: x**2

In [208]:
#Sort a list of strings by the last letter
# without using lambda
simpsons = ['homer', 'marge', 'bart']
def last_letter(word):
    return word[-1]
sorted(simpsons, key=last_letter)

['marge', 'homer', 'bart']

In [209]:
# using lambda
sorted(simpsons, key=lambda word: word[-1])

['marge', 'homer', 'bart']

In [213]:
#For Loops and While Loops
#range returns a sequence of integers

# includes the start value but excludes the stop value
list(range(0, 3))

[0, 1, 2]

In [214]:
# default start value is 0
list(range(3))

[0, 1, 2]

In [215]:
# third argument is the step value
list(range(0, 5, 2))

[0, 2, 4]

In [216]:
#for loops

# not the recommended style
fruits = ['apple', 'banana', 'cherry']
for i in range(len(fruits)):
    print(fruits[i].upper())

APPLE
BANANA
CHERRY

In [217]:
# recommended style
for fruit in fruits:
    print(fruit.upper())

APPLE
BANANA
CHERRY

In [218]:
# iterate through two things at once (using tuple unpacking)
family = {'dad':'homer', 'mom':'marge', 'size':6}
for key, value in family.items():
    print(key, value)

mom marge
dad homer
size 6

In [219]:
# use enumerate if you need to access the index value within the loop
for index, fruit in enumerate(fruits):
    print(index, fruit)

0 apple
1 banana
2 cherry

In [220]:
#for/else loop
for fruit in fruits:
    if fruit == 'banana':
        print('Found the banana!')
        break    # exit the loop and skip the 'else' block
else:
    # this block executes ONLY if the for loop completes without hitting 'break'
    print("Can't find the banana")

Found the banana!

In [221]:
#while loop
count = 0
while count < 5:
    print('This will print 5 times')
    count += 1    # equivalent to 'count = count + 1'

This will print 5 times
This will print 5 times
This will print 5 times
This will print 5 times
This will print 5 times

In [222]:
#Comprehensions
#List comprehension
# for loop to create a list of cubes
nums = [1, 2, 3, 4, 5]
cubes = []
for num in nums:
    cubes.append(num**3)
cubes

[1, 8, 27, 64, 125]

In [223]:
# equivalent list comprehension
cubes = [num**3 for num in nums]
cubes

[1, 8, 27, 64, 125]

In [224]:
# for loop to create a list of cubes of even numbers
cubes_of_even = []
for num in nums:
    if num % 2 == 0:
        cubes_of_even.append(num**3)
cubes_of_even

[8, 64]

In [225]:
# equivalent list comprehension
# syntax: [expression for variable in iterable if condition]
cubes_of_even = [num**3 for num in nums if num % 2 == 0]
cubes_of_even

[8, 64]

In [226]:
# for loop to cube even numbers and square odd numbers
cubes_and_squares = []
for num in nums:
    if num % 2 == 0:
        cubes_and_squares.append(num**3)
    else:
        cubes_and_squares.append(num**2)
cubes_and_squares

[1, 8, 9, 64, 25]

In [227]:
# equivalent list comprehension (using a ternary expression)
# syntax: [true_condition if condition else false_condition for variable in iterable]
cubes_and_squares = [num**3 if num % 2 == 0 else num**2 for num in nums]
cubes_and_squares

[1, 8, 9, 64, 25]

In [228]:
# for loop to flatten a 2d-matrix
matrix = [[1, 2], [3, 4]]
items = []
for row in matrix:
    for item in row:
        items.append(item)
items

[1, 2, 3, 4]

In [229]:
# equivalent list comprehension
items = [item for row in matrix
              for item in row]
items

[1, 2, 3, 4]

In [230]:
#Set comprehension
fruits = ['apple', 'banana', 'cherry']
unique_lengths = {len(fruit) for fruit in fruits}
unique_lengths

{5, 6}

In [231]:
#Dictionary comprehension
fruit_lengths = {fruit:len(fruit) for fruit in fruits}
fruit_lengths

{'apple': 5, 'banana': 6, 'cherry': 6}

In [232]:
fruit_indices = {fruit:index for index, fruit in enumerate(fruits)}
fruit_indices

{'apple': 0, 'banana': 1, 'cherry': 2}

In [234]:
#Map and Filter
#map applies a function to every element of a sequence and returns an iterator
simpsons = ['homer', 'marge', 'bart']
list(map(len, simpsons))

[5, 5, 4]

In [235]:
# equivalent list comprehension
[len(word) for word in simpsons]

[5, 5, 4]

In [236]:
list(map(lambda word: word[-1], simpsons))

['r', 'e', 't']

In [237]:
# equivalent list comprehension
[word[-1] for word in simpsons]

['r', 'e', 't']

In [239]:
#filter returns a iterator containing the elements from a sequence for which a condition is True
nums = range(5)
list(filter(lambda x: x % 2 == 0, nums))

[0, 2, 4]

In [240]:
# equivalent list comprehension
[num for num in nums if num % 2 == 0]

[0, 2, 4]